{% extends 'base/main.html' %}
{% block content %}

<div class="container mt-4">
    <a href="{% url 'medicines' %}" class="btn btn-primary">Go Back</a>
</div>

<div class="container mt-4">
    <h2 class="mb-4">Submit Form</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% if request.user.is_staff %}
        <div class="form-group">
            {{ form.user.label_tag }}
            {{ form.user }}
            {{ form.user.errors }}
        </div>
        {% endif %}
        <div class="form-group">
            {{ form.medicine_name.label_tag }}
            {{ form.medicine_name }}
            {{ form.medicine_name.errors }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div class="form-group">
            {{ form.quantity.label_tag }}
            {{ form.quantity }}
            {{ form.quantity.errors }}
        </div>
        <div class="form-group">
            {{ form.expiry_date.label_tag }}
            {{ form.expiry_date }}
            {{ form.expiry_date.errors }}
        </div>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock %}
